* {
  margin: 0;
  padding: 0;
}

/* fornotfor page */
.fornotfor {
  height: 100vh;
}

.fornotfor h1 {
  font-size: 10vw;
}
.fornotfor h2 {
  font-size: 3vw;
}

.fornotfor .link {
  text-decoration: none;
  color: green;
}

.fornotfor h1 span:nth-child(1) {
  color: rgb(255, 102, 0);
}

.fornotfor h1 span:nth-child(2) {
  color: rgb(67, 178, 197);
}

.fornotfor h1 span:nth-child(3) {
  color: rgb(177, 22, 151);
}

/* homepage */

.contact-list {
  display: grid;
  grid-template-columns: auto auto auto;

  grid-gap: 20px 20px;
}

.contact-list .cardd {
  max-height: 30vh;

  width: 100%;
  border: 1px solid #ccc;
  justify-content: flex-start;
}

.cardd .content {
  padding: 3% 5%;
}

.content h4 {
  color: #575757;
}
.content p {
  color: #807f7f;
}
